<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap4.5.2/css/bootstrap.min.css}">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/project/css/user/login.css}">-->
    <title>测试</title>
</head>
<body>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 column" style="background-color: #20c997">
            <h2>头部</h2>
            <p>
                <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在 <small>Ruby</small> 社区中。
            </p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column" style="background-color: #f1b0b7">
            <p>左侧</p>
        </div>
        <div class="col-md-8 column" style="background-color: gold">
            <p>这里是内容主题</p>
        </div>
        <div class="col-md-2 column" style="background-color: darkcyan">
            <p>右侧</p>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container" style="border: 2px solid red">
    <div class="row clearfix" style="border: 2px solid blue">
        <div class="col-md-12 column" style="background-color: #20c997">
            <h2>头部</h2>
            <p>
                <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在 <small>Ruby</small> 社区中。
            </p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column" style="background-color: #f1b0b7">
            <p>左侧</p>
        </div>
        <div class="col-md-8 column" style="background-color: gold">
            <p>这里是内容主题</p>
        </div>
        <div class="col-md-2 column" style="background-color: darkcyan">
            <p>右侧</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" data-main="/main/main.js"
        src="/component/require@bootstrap4.5.2.3.6/require-bootstrap4.5.2.3.6.js"></script>
</html>